@import '../styles/Colors.css';

.footer {
  padding: 75px 0 0;
  background-color: var(--font-color);
  position: relative;
  z-index: 2;
}

.footer-u {
  display: flex;
  height: 20vw;
}

.dk-footer-box-info {
  position: absolute;
  top: 0px;
  bottom: 50px;
  background: var(--background-color);
  padding: 40px;
  z-index: 2;
  border-radius: 0% 0% 10% 10%;
  margin-left: 13%;
}

.footer-social-link {
  margin-left: 7%;
}

.img-fluid {
  height: 30%;
}

.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 10;
  margin: 0;
}

.dk-footer-box-info .footer-social-link li {
  display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: var(--font-color);
  margin-right: 3vw;
  color: var(--background-color);
}

.footer-social-link a {
  text-decoration: none;
}

.footer-info-text {
  margin: 26px 0 32px;
  color: var(--font-color);
  font-weight: 500;
}

.footer-2 {
  color: var(--background-color);
  margin-left: 45%;
}

.footer-2 h1 {
  color: var(--background-color);
}

.footer-2 a {
  text-decoration: none;
  color: var(--background-color);
  transition: all 0.3s;
}

.footer-3 {
  margin-left: 10%;
}

.footer-3 h1 {
  color: var(--background-color);
}

.footer-3 p {
  color: var(--background-color);
}

.dk-footer-form input[type=email] {
  padding: 14px 28px;
  border-radius: 50px;
  background: var(--background-color);
  border: 1px solid var(--background-color);
}

.dk-footer-form button[type=submit] {
  position: absolute;
  left: 80%;
  padding: 1% 1.2%;
  border: none;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background: var(--btn-hover-color);
  color: var(--background-color);
}

.form-control {
  margin-bottom: 20px;
}

.col-md-6 {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  font-weight: 800;
}

.col-md-6 span {
  margin-left: 5%;
}