@import '../styles/Colors.css';

.footer {
  padding: 75px 0 0;
  background-color: var(--font-color);
  position: relative;
  z-index: 2;
}

.footer-u {
  display: flex;
  height: 20vw;
}

.dk-footer-box-info {
  position: absolute;
  top: 0px;
  bottom: 50px;
  background: var(--background-color);
  padding: 40px;
  z-index: 2;
  border-radius: 0% 0% 10% 10%;
  margin-left: 13%;
}

.footer-social-link {
  margin-left: 7%;
}

.img-fluid {
  height: 30%;
}

.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 10;
  margin: 0;
}

.dk-footer-box-info .footer-social-link li {
  display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: var(--font-color);
  margin-right: 3vw;
  color: var(--background-color);
}

.footer-social-link a {
  text-decoration: none;
}

.footer-info-text {
  margin: 26px 0 32px;
  color: var(--font-color);
  font-weight: 500;
}

.col-md-6 {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  font-weight: 800;
}

.col-md-6 span {
  margin-left: 5%;
}