@import '../styles/Colors.css';

.dashboard-main {
    background-color: var(--backgro-color);
}

.dashboard {
    width: 77%;
    margin-left: 22%;
    background-color: white;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}