# Copy to .env.local and fill in.
NEXT_PUBLIC_API_URL=https://api.nanakfinserv.com/api
NEXT_PUBLIC_BASE_URL=https://api.nanakfinserv.com
NEXT_PUBLIC_DOWNLOAD_URL=https://api.nanakfinserv.com/api/user/download/

# MSG91 OTP widget
NEXT_PUBLIC_MSG91_WIDGET_ID=3467446d494d363636363630
NEXT_PUBLIC_MSG91_TOKEN_AUTH=426738TclvGmDmM66a8ec44P1
